# fly.toml app configuration file generated for titantix-physical-ticket-manager on 2025-11-04T02:37:48Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'titantix-physical-ticket-manager'
primary_region = 'cdg'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
